.container{
  display:flex;
  justify-content:space-around;
  margin-top:40px;
}

.column{
  width:30%;
  padding:20px;
  border-right:4px solid green;
}

.column:last-child{
  border-right:none;
}

h1{
  margin-bottom:20px;
}

h2,h3,h4,p{
  margin:8px 0;
}